@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800");
.header .header-bottom ul.nav {
    font-size: 13px;
    text-transform: none !important;
    font-weight: 700;
}

.menu-cats-responsive {
    background-color: #212121;
    padding: 10px;
    overflow-y: scroll;
    max-height: 500px;
}

.modal-cats .modal-body {
    padding: 0px;
}

.menu-cats-responsive li {
    width: 100%;
    display: block;
    margin: 20px 0px;
}

.menu-cats-responsive li a .dropdown-right-icon {
    display: none !important;
}

.menu-cats-responsive li .dropdown-right-icon {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 30px;
    margin-top:0px;
}

.menu-cats-responsive li .icon-arrow-down {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 30px;
    margin-top:0px;
}

.menu-cats-responsive li a {
    color: white !important;
    font-size: 16px;
}

.header .header-bottom .nav li li a {
    margin-top: 0px !important;
}

.header .header-bottom .nav>li li:hover>ul {
    top: 0px !important;
}

section.product-detail div.layouter .form-container div.product-image-group .add-to-buttons .addtocart {
    width: 100%;
}

.resultados a {
    font-size: 14px !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    line-height: 14px !important;
}

.resultados .addtocart {
    font-size: 14px;
    font-weight: 700;
}

.resultados .product-price {
    font-size: 18px;
}

.main .category-container .category-block {
    width: 100% !important;
}

.badge.badge-easystore {
    background: #3399ff;
}

section.slider-block div.slider-content ul.slider-images li.show .show-content {
    border-bottom: 5px solid #c02c2b;
}

.footer {
    border-top: 5px solid #c02c2b;
}

section.product-detail div.layouter .form-container div.product-image-group .add-to-buttons .buynow {
    width: 100%;
}

section.product-detail div.layouter .form-container div.product-image-group .add-to-buttons {
    width: 80%;
    margin-right: 0px;
}

section.product-detail div.layouter .form-container .details .description {
    font-size: 14px;
    color: #666;
}

section.product-detail {
    color: #666;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    section.product-detail div.layouter .form-container div.product-image-group .add-to-buttons {
        width: 100%;
    }
    .main-container-wrapper .product-grid-4 {
        grid-template-columns: 100%;
        grid-column-gap: 10px;
    }
    .main-container-wrapper .product-grid-4 {
        justify-items: inherit;
    }
    .header .header-bottom {
        background-color: transparent !important;
        display: block;
    }
    .navbar-collapse {
        overflow-y: scroll;
        padding: 0px 20px 20px 20px;
        max-height: 500px;
    }
    .main-container-wrapper .product-grid-3 {
        grid-template-columns: 100%;
        grid-column-gap: 20px;
    }
    .header .header-bottom .nav a {
        padding: 20px;
        text-transform: none;
        font-size: 20px;
        font-weight: 300;
        color: #9b9b9b !important;
    }
}

@media only screen and (max-width: 380px) {
    .main-container-wrapper .product-grid-3 {
        grid-template-columns: 100%;
        grid-column-gap: 20px;
    }
}

@media only screen and (min-width: 768px) {
    section.product-detail div.layouter .form-container div.product-image-group .add-to-buttons .addtocart {
        margin: 5px;
    }
    section.product-detail div.layouter .form-container div.product-image-group .add-to-buttons .buynow {
        margin: 5px;
    }
}

section.product-detail div.layouter .form-container div.product-image-group div .product-hero-image img {
    object-fit: contain;
    background: white;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list {
    overflow: hidden;
    height: auto !important;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .thumb-frame img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: white;
    padding: 10px;
}

.main-container-wrapper .product-card:hover {
    outline: none;
}

.main-container-wrapper section.featured-products {
    margin-bottom: 0px;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .thumb-frame.active {
    border-color: #C7C7C7;
    text-align: center;
    background: white;
    padding: 10px;
}

section.slider-block div.slider-content ul.slider-images li img {
    height: 300px;
    object-fit: cover;
}

section.slider-block div.slider-content {
    height: 300px;
}

.descripcion-producto-short {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 36px;
    line-height: 18px;
    text-align: justify;
}

.ref {
    color: #8c8c8c;
    font-style: oblique;
}

.ref-tit {
    font-weight: 700;
    color: #c02c2b;
}

.auth-content {
    padding-top: 5%;
    padding-bottom: 5%;
}

.link-menu-responsive {
    font-size: 22px;
    margin-bottom: 10px;
}

.pais-blq {
    text-align: center;
    padding: 10px;
}

.pais-blq:hover {
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
}

.pais-blq img {
    width: 70px;
    height: auto;
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.footer .footer-content .footer-list-container .list-container .list-heading {
    text-transform: uppercase;
    color: #c02c2b;
    font-weight: 700;
}

.footer-bottom {
    margin-top: 0px;
    font-size: 12px;
    height: 50px;
    color: white;
    background: #c02c2b;
}

.product-price {
    color: #c02c2b;
    font-size: 25px;
}

.img-footer-es {
    max-height: 200px;
}

.main-container-wrapper {
    width: 100%;
    max-width: 100%;
}

.header .header-bottom .nav>li>a {
    margin-bottom: 0px;
}

.header .header-bottom .nav a {
    padding: 7px 20px 7px 20px;
    text-transform: none;
}

.header .header-bottom .nav li {
	height: auto !important;
}

.header .header-bottom .nav>li:hover {
    background-color: rgba(0, 0, 0, .1);
}

.header .header-bottom .nav ul {
    border: none;
    background-color: #212121;
}

.header .header-bottom .nav>li li:hover {
    background-color: #C02C2B;
}

.header {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px auto;
}

.form-inline .form-control {
    width: 85% !important;
}

.header .header-top {
    margin-bottom: 0px;
}

.bg-dark-easy {
    background-color: #212121 !important;
}

.logo-easy img {
    max-height: 40px;
}

.bandera-drop {
    width: 26px;
    margin-right: 10px;
}

.nav-pills li {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

.bg-easy {
    background-color: #c02c2b;
}

.categorias a {
    color: white !important;
}

.categorias i {
    color: white !important;
}

#categorias .dropdown-item {
    color: #333 !important;
}

#categorias .dropdown-item:active {
    color: white !important;
    background: #c02c2b;
}

#categorias .dropdown-item:hover {
    color: white !important;
    background: #c02c2b;
}

#menu-derecha .menu-login {
    min-width: 20rem !important;
    padding: 20px 20px !important;
}

#menu-derecha .carrito {
    min-width: 387px !important;
    padding: 20px 20px !important;
    color: #212121 !important;
}

#menu-derecha .carrito a {
    color: #c02c2b !important;
}

#menu-derecha .carrito .pagar {
    color: #ffffff !important;
}

.header .header-bottom {
    background-color: #c02c2b;
    padding: 0px 10px 0px 10px;
    border: none;
}

.header .header-bottom .nav a {
    color: white;
}

#menu-derecha .menu-paises a {
    color: #212121 !important;
}

#menu-derecha .menu-paises a:active {
    color: #c02c2b !important;
}

#menu-derecha .menu-paises a:hover {
    color: #c02c2b !important;
}

.btn.btn-primary {
    border-radius: 5px !important;
}

.btn.btn-primary-fb {
    background: #3b5998;
    color: #fff;
    border-radius: 5px !important;
    text-transform: uppercase;
}

.btn:active,
.btn:focus,
.btn:hover {
    color: white !important;
}

.btn.btn-secondary {
    border-radius: 5px !important;
}

.main-container-wrapper .product-card .product-name {
    margin-bottom: 5px;
    width: 100%;
    color: #242424;
}

.info-productos-easy {
    background: #f7f7f7;
}

.info-productos-easy .info-envios h4 {
    color: #c02c2b;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.info-productos-easy .info-envios p {
    color: #777;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
}

.info-productos-easy .info-envios p span {
    color: #4CAF50;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.info-productos-easy .met-pagos h4 {
    color: #c02c2b;
    font-size: 16px;
    font-weight: 700;
}

.info-productos-easy .met-pagos img {
    max-height: 150px;
}

.descripcion-corta {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 55px;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}

.search-result-status {
    padding-top: 50px;
}

section.product-detail div.layouter .form-container .details .product-heading {
    font-size: 20px;
    color: #242424;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
}

.checkout-process .col-main ul.checkout-steps li.active {
    color: #C02C2B;
}

.checkout-process .col-main ul.checkout-steps li.active .decorator {
    border: 1px solid #C02C2B;
}

.main-container-wrapper .product-card .product-name a {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.main-container-wrapper .product-card .product-image {
    max-height: 250px;
    max-width: 100%;
    background: white;
}

.product-information {
    text-align: center;
}

.main-container-wrapper .product-card .product-image img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-height: 250px;
    background: white;
}

.main-container-wrapper .product-card .product-image img {
    display: block;
    width: auto;
    margin: auto;
}

.banner-img {
    width: 100%;
    height: 200px;
    text-align: center;
}

.banner-img img {
    width: 532px;
    height: 200px;
}

.txt-banners-nacionales {
    margin: 20px 0px;
    background-color: #c02c2b;
    padding: 10px 20px;
}

.txt-banners-nacionales h1 {
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
}

.txt-banners-nacionales .txt {
    color: #ff5f5e;
    margin-bottom: 0px;
}

.txt-banners-internacionales {
    margin: 20px 0px;
    background-color: #212121;
    padding: 10px 20px;
}

.txt-banners-internacionales h1 {
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
}

.txt-banners-internacionales .txt {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0px;
}

.destacados h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.destacados hr {
    width: 100px;
    height: 2px;
    background: #212121;
    position: inherit;
    margin: 0px auto 20px auto;
    text-align: center;
}

.destacados .subs {
    color: #ff8484;
}

.panel-productos {
    background-color: white;
}

.panel-productos .slick-prev:before,
.panel-productos .slick-next:before {
    color: #212121;
}

.panel-productos .slick-dots li button:before {
    color: #212121;
}

.panel-productos .slick-dots li.slick-active button:before {
    color: #212121;
}

.destacados-panel h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #c02c2b;
}

.destacados-panel hr {
    width: 100px;
    height: 2px;
    background: #212121;
    position: inherit;
    margin: 0px auto 20px auto;
    text-align: center;
}

.destacados-panel .subs {
    color: #333;
}

.productos-nacionales {
    background-color: #c02c2b;
}

.products-slider .card {
    margin-left: 15px;
    margin-right: 15px;
}

.card .card-text {
    font-size: 17px;
    color: #666;
}

.card .card-title {
    text-align: center;
}

.card .img-producto img {
    object-fit: contain;
    max-height: 200px;
}

.card .max-lines {
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 55px;
    line-height: 18px;
    text-align: justify;
}

.card .card-body hr {
    height: 1px;
    background: #ccc;
}

.btn-white {
    background-color: white;
    color: #c02c2b;
}

.testimoniales {
    background-color: #ededed;
    padding: 30px;
}

.testimoniales h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #c02c2b;
}

.testimoniales hr {
    width: 100px;
    height: 2px;
    background: #212121;
    position: inherit;
    margin: 0px auto 20px auto;
    text-align: center;
}

.testimoniales .subs {
    color: #333;
}

.testimoniales .slick-prev:before,
.testimoniales .slick-next:before {
    color: #212121;
}

.testimoniales .slick-dots li button:before {
    color: #212121;
}

.testimoniales .slick-dots li.slick-active button:before {
    color: #212121;
}

.testimoniales .testimoniales-slider img {
    width: 100px;
}

.testimoniales .testimoniales-slider .testimonio-txt {
    text-align: center;
    color: #666;
}

.testimoniales .testimoniales-slider .testimonio-nombre {
    color: #c02c2b;
}

.testimoniales .testimoniales-slider span {
    font-weight: 700;
}

.marcas {
    padding: 30px;
}

.marcas h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #c02c2b;
}

.marcas hr {
    width: 100px;
    height: 2px;
    background: #212121;
    position: inherit;
    margin: 0px auto 20px auto;
    text-align: center;
}

.marcas .subs {
    color: #333;
}

.marcas .slick-prev:before,
.marcas .slick-next:before {
    color: #212121;
}

.marcas .slick-dots li button:before {
    color: #212121;
}

.marcas .slick-dots li.slick-active button:before {
    color: #212121;
}

.footer .adicion-footer .list-heading-adicional {
    text-transform: uppercase;
    color: #c02c2b;
    font-weight: 700
}

footer h5 {
    margin-top: 20px;
}

footer hr {
    width: 30px;
    height: 2px;
    background: #c02c2b;
    position: inherit;
    margin: 0px auto 20px auto;
    text-align: center;
}

footer ul .list-group-item {
    border: none;
    padding: 5px 20px;
}

footer ul .list-group-item a {
    color: #212121;
}

footer ul .list-group-item a:hover {
    color: #c02c2b;
}

footer .divisor {
    height: 1px !important;
    width: 90%;
    background: #ededed;
}

footer .adicion-footer h3 {
    font-size: 20px;
    margin-top: 20px;
}

footer .adicion-footer hr {
    width: 100px;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    footer .adicion-footer h3 {
        text-align: center;
    }
    footer .adicion-footer hr {
        position: inherit;
    }
    footer .adicion-footer .adicion-footer-img {
        text-align: center;
    }
    .logo-easy img {
        max-height: 35px;
    }
}

.copyright {
    background-color: #c02c2b;
    padding: 10px 30px;
}

.copyright p {
    color: white;
    margin-bottom: 0px;
    font-size: smaller;
}


/*#ToTop*/

#totop {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 30px;
    z-index: 1100;
    border: none;
    outline: none;
    background-color: #212121;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-top-right-radius: 99px;
    border-top-left-radius: 99px;
    font-size: 18px;
}

#totop:hover {
    background-color: #db3737;
}


/*#ToTop*/

.buscador {
    margin: 15px 0px;
}

.paises {
    background: transparent;
    border: none;
    border-radius: 0px;
}

.paises a {
    color: white;
}

.paises .dropdown-item {
    margin: 15px 0px;
    padding: 5px 5px !important;
}

#responsive-menu .nav-link {
    color: white;
}

#responsive-menu .nav-link:hover {
    color: #c02c2b;
}

#responsive-menu .nav-link:active {
    color: #c02c2b;
}

#menu-derecha a {
    color: white !important;
}

#menu-derecha {
    color: white !important;
}

#menu-derecha .menu-drop li a {
    color: #c02c2b !important;
}

.pop-up-titulo {
    text-transform: uppercase;
    color: #c02c2b;
    font-weight: 700;
}

.modal .nosotros {
    max-height: 400px;
    overflow-y: scroll;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.selector .pais a {
    color: white;
}

.logo p {
    color: white;
}

.producto .img-producto-ppal {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 10px 0px 10px;
}

.producto .img-producto-ppal img {
    object-fit: contain;
    max-height: 400px;
}

.producto .descripcion h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #c02c2b;
}

.producto .descripcion hr {
    width: 100px;
    height: 2px;
    background: #212121;
    position: absolute;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.producto .descripcion .referencia span {
    margin-right: 10px;
    color: #c02c2b;
    font-weight: 700;
}

.producto .descripcion .desc {
    text-align: justify;
    font-size: 16px;
    line-height: 19px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 140px;
}

.producto .descripcion .condicion {
    padding-left: 10px;
}

.producto .descripcion .condicion span {
    margin-right: 10px;
    color: #c02c2b;
    font-weight: 700;
}

.producto .descripcion .peso {
    padding-left: 10px;
}

.producto .descripcion .peso span {
    margin-right: 10px;
    color: #c02c2b;
    font-weight: 700;
}

.producto .descripcion .categoria {
    padding-left: 10px;
}

.producto .descripcion .categoria span {
    margin-right: 10px;
    color: #c02c2b;
    font-weight: 700;
}

.producto .precio {
    background-color: #ededed;
    padding: 20px 30px;
}

.producto .precio h4 {
    font-size: 20px;
}

.producto .precio h4 span {
    color: #c02c2b;
    margin-right: 15px;
}

.producto .precio .input-group {
    width: 120px;
}

.producto .precio .boton {
    text-align: right;
}

.banner-container {
    width: 100%;
    float: left;
    padding: 0px 18px;
    margin-bottom: 40px;
}

.banner-container .left-banner-easy {
    padding: 0px 5px;
    width: 33%;
    float: left;
}

.banner-container .left-banner-easy img {
    width: 100%;
}

.banner-container .center-banner-easy {
    padding: 0px 5px;
    width: 33%;
    float: left;
}

.banner-container .center-banner-easy img {
    width: 100%;
}

.banner-container .right-banner-easy {
    padding: 0px 5px;
    width: 33%;
    float: left;
}

.banner-container .right-banner-easy img {
    width: 100%;
}


/*.banner-container .right-banner img:first-child {
    padding-bottom: 20px;
    height: 50%;
    display: block; }
.banner-container .right-banner img:last-child {
    padding-top: 20px;
    height: 50%;
    display: block; }
*/

@media all and (max-width: 720px) {
    .banner-container .left-banner-easy {
        padding-right: 0;
        width: 100%;
    }
    .banner-container .center-banner-easy {
        padding-left: 0;
        width: 100%;
    }
    .banner-container .right-banner-easy {
        padding-left: 0;
        width: 100%;
    }
}


/* .banner-container .right-banner img:first-child {
        padding-bottom: 0;
        padding-top: 25px; }
    .banner-container .right-banner img:last-child {
        padding-top: 25px; } }*/


/*# sourceMappingURL=estilos.css.map */

::selection {
    background: #c02c2b;
    color: #fff;
    padding: 5px;
}

.main-container-wrapper .product-card {
    padding: 25px;
}

.product-price .special-price {
    color: #c02c2b;
}

.products-slider .card .product-price {
    font-size: 20px;
}