.icon {
  display: inline-block;
  background-size: cover; }

.dropdown-right-icon {
  background-image: URL("../images/icon-dropdown-left.svg");
  width: 8px;
  height: 8px;
  margin-left: auto;
  margin-bottom: 2px; }

.icon-menu-close {
  background-image: URL("../images/icon-menu-close.svg");
  width: 24px;
  height: 24px;
  margin-left: auto; }

.icon-menu-close-adj {
  background-image: URL("../images/cross-icon-adj.svg");
  width: 32px;
  height: 32px;
  margin-left: auto; }

.grid-view-icon {
  background-image: URL("../images/icon-grid-view.svg");
  width: 24px;
  height: 24px; }

.list-view-icon {
  background-image: URL("../images/icon-list-view.svg");
  width: 24px;
  height: 24px; }

.sort-icon {
  background-image: URL("../images/icon-sort.svg");
  width: 32px;
  height: 32px; }

.filter-icon {
  background-image: URL("../images/icon-filter.svg");
  width: 32px;
  height: 32px; }

.whishlist-icon {
  background-image: URL("../images/wishlist.svg");
  width: 24px;
  height: 24px; }

.share-icon {
  background-image: URL("../images/icon-share.svg");
  width: 24px;
  height: 24px; }

.icon-menu {
  background-image: URL("../images/icon-menu.svg");
  width: 24px;
  height: 24px; }

.icon-search {
  background-image: URL("../images/icon-search.svg");
  width: 24px;
  height: 24px; }

.icon-menu-back {
  background-image: URL("../images/icon-menu-back.svg");
  width: 24px;
  height: 24px; }

.shipping-icon {
  background-image: url("../images/shipping.svg");
  width: 32px;
  height: 32px; }

.payment-icon {
  background-image: url("../images/payment.svg");
  width: 32px;
  height: 32px; }

.cart-icon {
  background-image: url("../images/icon-cart.svg");
  width: 24px;
  height: 24px; }

.wishlist-icon {
  background-image: url("../images/wishlist.svg");
  width: 32px;
  height: 32px; }

.icon-arrow-up {
  background-image: url("../images/arrow-up.svg");
  width: 16px;
  height: 16px; }

.icon-arrow-down {
  background-image: url("../images/arrow-down.svg");
  width: 16px;
  height: 16px; }

.expand-icon {
  background-image: url("../images/Expand-Light.svg");
  width: 18px;
  height: 18px; }

.expand-on-icon {
  background-image: url("../images/Expand-Light-On.svg");
  width: 18px;
  height: 18px; }

.icon-menu-close-adj {
  background-image: url("../images/cross-icon-adj.svg");
  width: 32px;
  height: 32px; }

.icon-facebook {
  background-image: url("../images/facebook.svg"); }

.icon-twitter {
  background-image: url("../images/twitter.svg"); }

.icon-google-plus {
  background-image: url("../images/google-plus.svg"); }

.icon-instagram {
  background-image: url("../images/instagram.svg"); }

.icon-linkedin {
  background-image: url("../images/linkedin.svg"); }

/*# sourceMappingURL=icons.css.map */
