@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

.bg-dark {
    background-color: #212121 !important;
}

.logo-easy {
    img {
        max-height: 40px;
    }
}

.bandera-drop {
    width: 26px;
    margin-right: 10px
}

.nav-pills {
    li{margin-left: 5px;margin-right: 5px;}
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

body {font-family: 'Dosis', sans-serif; font-size: 18px}

.bg-easy {
    background-color: #c02c2b;
}

.categorias {
    a {color:white;}
    i {color:white;}
}

#categorias {
    a {color:#333;}
    a:active {color: white; background: #c02c2b;}
    a:hover {color: white; background: #c02c2b;}
}
.banner-img {
    width: 100%;
    height: 200px;
    text-align: center;
    img {
        width: 500px;
        height: 200px;
    }
}

.txt-banners-nacionales {
    margin:20px 0px;
    background-color: #c02c2b;
    padding: 10px 20px;
    h1 {font-size: 20px;
        color:white;
        margin-bottom: 0px;
    }
    .txt {color:#ff5f5e; margin-bottom: 0px}
}

.txt-banners-internacionales {
    margin:20px 0px;
    background-color: #212121;
    padding: 10px 20px;
    h1 {font-size: 20px;
        color:white;
        margin-bottom: 0px;
    }
    .txt {color:rgba(255,255,255,0.5); margin-bottom: 0px}
}

.destacados {
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
        color:white;
    }
    hr {
        width: 100px;
        height: 2px;
        background: #212121;
        position: inherit;
        margin: 0px auto 20px auto;
        text-align: center;
    }
    .subs {
        color:#ff8484;
    }
}

.panel-productos {
    background-color: white;
    .slick-prev, .slick-next{
        &:before {color:#212121;}
    }
    .slick-dots {
        li {
            button{
                &:before {color:#212121;}
            }
            &.slick-active button:before {
                color: #212121
            }
        }
    }
}

.destacados-panel {
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
        color:#c02c2b;
    }
    hr {
        width: 100px;
        height: 2px;
        background: #212121;
        position: inherit;
        margin: 0px auto 20px auto;
        text-align: center;
    }
    .subs {
        color:#333;
    }
}

.productos-nacionales {
    background-color: #c02c2b;
}

.products-slider
{
    .card {
        margin-left:15px;
        margin-right: 15px;
    }
}

.card {
    .card-text{
        font-size: 17px;
        color:#666;
    }
    .card-title {
        text-align: center;
    }
    .img-producto {
        img {object-fit: contain; max-height: 200px
        }
    }
    .max-lines {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 55px;
        line-height: 18px;
        text-align: justify;
      }
    .card-body {
        hr {
            height: 1px;
            background: #ccc;
        }
    }
}

.btn-white {
    background-color: white;
    color:#c02c2b;
}

.testimoniales {
    background-color: #ededed;
    padding:30px;
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
        color:#c02c2b;
    }
    hr {
        width: 100px;
        height: 2px;
        background: #212121;
        position: inherit;
        margin: 0px auto 20px auto;
        text-align: center;
    }
    .subs {
        color:#333;
    }

    .slick-prev, .slick-next{
        &:before {color:#212121;}
    }
    .slick-dots {
        li {
            button{
                &:before {color:#212121;}
            }
            &.slick-active button:before {
                color: #212121
            }
        }
    }
    .testimoniales-slider {
        img {
            width: 100px;
        }
        .testimonio-txt {text-align: center;
            color:#666;
        }
        .testimonio-nombre {color: #c02c2b}
        span {font-weight: 700;}
    }
}

.marcas {
    padding:30px;
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
        color:#c02c2b;
    }
    hr {
        width: 100px;
        height: 2px;
        background: #212121;
        position: inherit;
        margin: 0px auto 20px auto;
        text-align: center;
    }
    .subs {
        color:#333;
    }

    .slick-prev, .slick-next{
        &:before {color:#212121;}
    }
    .slick-dots {
        li {
            button{
                &:before {color:#212121;}
            }
            &.slick-active button:before {
                color: #212121
            }
        }
    }
    .marcas-slider {
        
    }
}

footer {
    h5 {margin-top: 20px;}
    hr {
        width: 30px;
        height: 2px;
        background: #c02c2b;
        position: inherit;
        margin: 0px auto 20px auto;
        text-align: center;
    }
    ul{
        .list-group-item{
            border:none; padding:5px 20px;
            a {color:#212121;}
            a:hover {color:#c02c2b;}
        }
    }
    .divisor {height: 1px !important; width: 90%; background: #ededed;
    }
    .adicion-footer {
        h3{ 
            font-size: 20px;
            margin-top:20px;
        }
        hr {
        width: 100px;
        position: absolute;
        }
    }
}

@media only screen and (max-width:768px){
    footer{
        .adicion-footer{
            h3{text-align: center;}
            hr{position: inherit;}
        }
        .adicion-footer {
            .adicion-footer-img {text-align: center;}
        }
    }
    .logo-easy {
        img {
            max-height: 35px;
        }
    }
}

.copyright {
    background-color: #c02c2b;
    padding: 10px 30px;
    p {
        color: white;
        margin-bottom: 0px;
        font-size: smaller;
    }
}

/*#ToTop*/
#totop {
    display: none; 
    position: fixed; 
    bottom: 0px; 
    right: 30px; 
    z-index: 1100; 
    border: none;
    outline: none;
    background-color: #212121;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-top-right-radius: 99px;
    border-top-left-radius:99px;
    font-size: 18px;
  }
  
  #totop:hover {
    background-color: #db3737;
  }
  /*#ToTop*/

.buscador {margin:15px 0px;}
.paises {
    background: transparent;
    border:none;
    border-radius: 0px;
    a {color:white;}
    .dropdown-item {margin:15px 0px; padding:5px 5px !important;}
}
#responsive-menu {
    .nav-link {
        color:white;
    }
    .nav-link:hover {
        color: #c02c2b;
    }
    .nav-link:active {
        color: #c02c2b;
    }
}
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.selector{
    .pais{
        a{
            color:white;
        }
    }
}

.logo{
    p{color:white;}
}

.producto{
    .img-producto-ppal {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px 10px 0px 10px;
        img {object-fit: contain; max-height: 400px;
        }
    }
    .descripcion {
        h1 {
            font-size: 24px;
            margin-bottom: 10px;
            color:#c02c2b;
        }
        hr {
            width: 100px;
            height: 2px;
            background: #212121;
            position: absolute;
            margin: 0px 0px 20px 0px;
            text-align: center;
        }
        .referencia {
            span {margin-right: 10px;color: #c02c2b;font-weight: 700;}
        }
        .desc {text-align: justify;font-size: 16px;line-height: 19px; display: block;
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 140px;
        }
        .condicion {
            padding-left:10px;
            span {margin-right: 10px;color: #c02c2b;font-weight: 700;}
        }
        .peso {
            padding-left:10px;
            span {margin-right: 10px;color: #c02c2b;font-weight: 700;}
        }
        .categoria {
            padding-left:10px;
            span {margin-right: 10px;color: #c02c2b;font-weight: 700;}
        }
    }
    .precio {
        background-color: #ededed;padding: 20px 30px;
        h4 { font-size: 20px;
            span {color:#c02c2b; margin-right: 15px}
        }
        .input-group {width: 120px;}
        .boton {text-align: right}
    }
}