@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
body {
  margin: 0;
  color: #3A3A3A;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: static;
  min-height: 100%; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.navbar-top {
  height: 60px;
  background: #ffffff;
  font-size: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(162, 162, 162, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5; }
  .navbar-top .navbar-top-left {
    width: 50%;
    height: 60px;
    display: inline-block;
    vertical-align: middle; }
    .navbar-top .navbar-top-left .brand-logo {
      padding: 10px; }
      .navbar-top .navbar-top-left .brand-logo img {
        max-width: 250px;
        max-height: 60px; }
  .navbar-top .navbar-top-right {
    width: 50%;
    height: 60px;
    text-align: right;
    display: inline-block;
    vertical-align: middle; }
    .navbar-top .navbar-top-right .profile-info {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      min-width: 50px;
      position: relative;
      padding: 12px 0px;
      margin: 0px 25px 0px 30px;
      font-size: 15px;
      cursor: pointer;
      position: relative; }
      .navbar-top .navbar-top-right .profile-info .dropdown-list {
        top: 63px; }
      .navbar-top .navbar-top-right .profile-info .name {
        color: #000311;
        display: block;
        text-align: left; }
      .navbar-top .navbar-top-right .profile-info .role {
        font-size: 14px;
        color: #8e8e8e;
        display: block;
        text-align: left; }
      .navbar-top .navbar-top-right .profile-info i.icon {
        margin-left: 10px; }

.navbar-left {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 90px;
  padding-top: 20px;
  height: auto;
  border-right: 1px solid rgba(162, 162, 162, 0.2);
  z-index: 2; }
  .navbar-left ul.menubar li.menu-item {
    height: 90px;
    padding: 10px 5px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase; }
    .navbar-left ul.menubar li.menu-item a {
      color: #a2a2a2; }
    .navbar-left ul.menubar li.menu-item.active a {
      color: #c02c2b; }

.content-container {
  padding-left: 90px;
  position: absolute;
  margin-top: 60px;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto; }
  .content-container .aside-nav {
    width: 280px;
    position: fixed;
    top: 60px;
    bottom: 0;
    border-right: 1px solid rgba(162, 162, 162, 0.2);
    background: #f8f9fa;
    padding-top: 10px;
    overflow-y: auto;
    z-index: 4; }
    .content-container .aside-nav a {
      padding: 15px;
      display: block;
      color: #000311; }
    .content-container .aside-nav .active a {
      background: #ffffff;
      border-top: 1px solid rgba(162, 162, 162, 0.2);
      border-bottom: 1px solid rgba(162, 162, 162, 0.2); }
    .content-container .aside-nav .active i {
      float: right; }
  .content-container .content-wrapper {
    padding: 25px 25px 25px 25px;
    margin-left: 305px; }
  .content-container .content {
    margin-top: 25px; }
    .content-container .content.full-page {
      padding: 25px; }
    .content-container .content .page-header {
      display: inline-block;
      margin-bottom: 20px;
      width: 100%; }
      .content-container .content .page-header .page-title {
        float: left; }
        .content-container .content .page-header .page-title .back-link {
          float: left;
          margin-right: 10px;
          width: 24px;
          height: 24px;
          cursor: pointer;
          margin-top: 5px; }
        .content-container .content .page-header .page-title h1 {
          margin-bottom: 0;
          vertical-align: middle;
          display: inline-block; }
      .content-container .content .page-header .page-action {
        float: right; }
        .content-container .content .page-header .page-action * {
          display: inline-block; }
        .content-container .content .page-header .page-action a {
          margin-left: 25px; }
      .content-container .content .page-header .control-group {
        width: 180px;
        display: inline-block;
        margin-bottom: 0;
        margin-left: 20px; }
      .content-container .content .page-header .control {
        width: 100%;
        margin: 0; }
    .content-container .content .page-content {
      width: 100%;
      display: inline-block; }

.control-group label {
  width: 70%; }
  .control-group label .locale {
    float: right;
    color: #8E8E8E; }
.control-group .mce-tinymce {
  margin-top: 10px;
  margin-bottom: 5px; }

.dashboard .page-header {
  margin-bottom: 0 !important;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(162, 162, 162, 0.2); }
.dashboard .page-content {
  margin-top: 15px; }
.dashboard .card {
  height: 445px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: 20px 0px 0px 20px; }
  .dashboard .card .card-title {
    font-size: 14px;
    color: #A2A2A2;
    letter-spacing: -0.26px;
    text-transform: uppercase; }
  .dashboard .card .card-info {
    width: 100%;
    height: 100%;
    display: inline-block; }
    .dashboard .card .card-info.center {
      text-align: center; }
    .dashboard .card .card-info ul li {
      border-bottom: 1px solid rgba(162, 162, 162, 0.2);
      width: 100%;
      display: inline-block;
      padding: 10px 0;
      position: relative; }
      .dashboard .card .card-info ul li .image {
        height: 60px;
        width: 60px;
        float: left;
        margin-right: 15px; }
        .dashboard .card .card-info ul li .image.product {
          background: #F2F2F2; }
        .dashboard .card .card-info ul li .image img {
          width: 100%; }
      .dashboard .card .card-info ul li .description {
        margin-top: 10px; }
        .dashboard .card .card-info ul li .description .name {
          color: #0041FF; }
        .dashboard .card .card-info ul li .description .info {
          color: #3A3A3A;
          margin-top: 5px; }
      .dashboard .card .card-info ul li .icon.angle-right-icon {
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -8px; }
      .dashboard .card .card-info ul li:last-child {
        border-bottom: 0; }
    .dashboard .card .card-info .no-result-found {
      margin-top: 146px; }
      .dashboard .card .card-info .no-result-found p {
        margin: 0;
        color: #A2A2A2; }
.dashboard .dashboard-stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 15px; }
  .dashboard .dashboard-stats .dashboard-card {
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    position: relative;
    padding: 15px; }
    .dashboard .dashboard-stats .dashboard-card .title {
      font-size: 14px;
      color: #A2A2A2;
      text-transform: uppercase; }
    .dashboard .dashboard-stats .dashboard-card .data {
      padding-top: 3px;
      font-size: 32px;
      color: #0041FF; }
      .dashboard .dashboard-stats .dashboard-card .data .progress {
        font-size: 14px;
        color: #8E8E8E;
        float: right;
        margin-top: 9px; }
        .dashboard .dashboard-stats .dashboard-card .data .progress .icon {
          vertical-align: middle; }
.dashboard .graph-stats {
  margin-top: 30px;
  width: 100%;
  display: inline-block; }
  .dashboard .graph-stats .left-card-container {
    float: left;
    width: 75%;
    padding-right: 9px; }
  .dashboard .graph-stats .right-card-container {
    float: left;
    width: 25%;
    padding-left: 21px; }
.dashboard .sale-stock {
  width: 100%;
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
  grid-auto-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  margin-top: 30px; }

.sale-container .sale-section {
  font-size: 16px; }
  .sale-container .sale-section .secton-title {
    font-size: 18px;
    color: #8E8E8E;
    padding: 15px 0;
    border-bottom: 1px solid rgba(162, 162, 162, 0.2); }
  .sale-container .sale-section .section-content {
    display: block;
    padding: 20px 0; }
    .sale-container .sale-section .section-content .row {
      display: block;
      padding: 7px 0; }
      .sale-container .sale-section .section-content .row .title {
        width: 200px;
        color: #3A3A3A;
        letter-spacing: -0.26px;
        display: inline-block; }
      .sale-container .sale-section .section-content .row .value {
        color: #3A3A3A;
        letter-spacing: -0.26px;
        display: inline-block; }
.sale-container .table .qty-row {
  display: block;
  margin-bottom: 5px; }
  .sale-container .table .qty-row:last-child {
    margin-bottom: 0; }
.sale-container .table .radio {
  margin: 0; }
.sale-container .sale-summary {
  margin-top: 2%;
  height: 130px;
  float: right; }
  .sale-container .sale-summary tr td {
    padding: 5px 8px; }
  .sale-container .sale-summary tr.bold {
    font-weight: 600;
    font-size: 15px; }
  .sale-container .sale-summary tr.border td {
    border-bottom: 1px solid rgba(162, 162, 162, 0.2); }

.stars {
  margin-top: 5px; }
  .stars .icon {
    width: 16px;
    height: 16px; }

.export {
  cursor: pointer; }
  .export .export-icon {
    position: relative;
    top: 10px; }
  .export span {
    margin-left: 2px; }

.configuration-image {
  position: relative;
  height: 33px;
  width: 33px;
  top: 15px;
  border-radius: 3px;
  margin-right: 5px; }

.download {
  position: relative;
  height: 24px !important;
  width: 24px !important;
  top: 12px;
  margin-right: 10px; }

.rtl {
  direction: rtl; }
  .rtl .navbar-top .navbar-top-right {
    text-align: left; }
    .rtl .navbar-top .navbar-top-right .profile-info {
      margin: 0 30px 0 25px; }
      .rtl .navbar-top .navbar-top-right .profile-info i.icon {
        margin-left: 0px;
        margin-right: 10px; }
  .rtl .navbar-left {
    border-left: 1px solid rgba(162, 162, 162, 0.2);
    border-right: none; }
  .rtl .content-container {
    padding-right: 90px;
    padding-left: 0px; }
    .rtl .content-container .content .page-header .page-title {
      float: right; }
    .rtl .content-container .content .page-header .page-action {
      float: left; }
    .rtl .content-container .content .page-header .control-group {
      margin-right: 20px;
      margin-left: 0px; }
    .rtl .content-container .content .page-header .control-group.date::after {
      margin-top: 6px;
      position: absolute;
      margin-right: -35px; }
    .rtl .content-container .content .page-header .control-group.date:last-child {
      margin-left: 0px; }
    .rtl .content-container .content-wrapper {
      padding: 25px 305px 25px 25px; }
    .rtl .content-container .aside-nav .active i {
      float: left;
      transform: rotate(180deg); }
  .rtl .dashboard .dashboard-stats .dashboard-card .data span {
    float: left; }
  .rtl .dashboard .card {
    padding: 20px 20px 0px 0px; }
    .rtl .dashboard .card .card-info ul li .image {
      float: right;
      margin-right: 0px;
      margin-left: 15px; }
    .rtl .dashboard .card .card-info ul li .icon.angle-right-icon {
      left: 30px;
      right: auto;
      transform: rotate(180deg); }
  .rtl .dashboard .graph-stats .left-card-container {
    float: right;
    padding-right: 0px; }
  .rtl .dashboard .graph-stats .right-card-container {
    float: right;
    padding-left: 0px;
    padding-right: 30px; }
  .rtl .sale-container .sale-summary {
    float: left; }
  .rtl .grid-container .filter-wrapper .filter-row-one .search-filter {
    border: 2px solid #C7C7C7; }
    .rtl .grid-container .filter-wrapper .filter-row-one .search-filter .control {
      border: none;
      padding-right: 10px; }
    .rtl .grid-container .filter-wrapper .filter-row-one .search-filter .ic-wrapper {
      border: none;
      padding-top: 2px;
      padding-right: 5px; }
  .rtl .grid-container .filter-wrapper .filter-row-two .filter-one {
    margin-right: 0px; }
    .rtl .grid-container .filter-wrapper .filter-row-two .filter-one .filter-name {
      margin-right: 0px;
      margin-left: 5px; }
    .rtl .grid-container .filter-wrapper .filter-row-two .filter-one .filter-value {
      padding-right: 5px;
      padding-left: 0px; }
  .rtl .grid-container .filter-wrapper .filter-row-one .dropdown-filters .more-filters .dropdown-toggle .dropdown-header span {
    padding-right: 5px; }
  .rtl .grid-container .table tbody td.action a:first-child {
    margin-left: 10px;
    margin-right: 0px; }
  .rtl .table table {
    text-align: right; }
  .rtl .dropdown-list.bottom-right {
    left: 0px;
    right: auto; }
  .rtl .dropdown-list .dropdown-container {
    text-align: right; }
  .rtl .accordian .accordian-header .icon {
    float: left; }
  .rtl .tree-container .tree-item {
    padding-right: 30px; }
    .rtl .tree-container .tree-item .expand-icon, .rtl .tree-container .tree-item .folder-icon {
      margin-left: 10px;
      margin-right: 0px; }
  .rtl .tree-container > .tree-item {
    padding-right: 0px; }
  .rtl .radio .radio-view {
    margin-left: 5px; }
  .rtl .image-wrapper .image-item {
    margin-right: 0px;
    margin-left: 20px; }
    .rtl .image-wrapper .image-item .remove-image {
      margin-right: 0px; }
  .rtl .control-group label.required::before {
    content: "*";
    color: #FC6868;
    font-weight: 700; }
  .rtl .control-group label.required::after {
    content: none; }
  .rtl .control-group label .locale {
    float: left; }
  .rtl .control-group.date::after {
    margin-top: 15px;
    position: absolute;
    margin-right: -35px; }
  .rtl .pagination .page-item .icon {
    transform: rotate(180deg); }

/*# sourceMappingURL=app.css.map */
